{0,0,(X,X,X,X,S,X,X,X), ADD,SW,SE}
{0,1,(X,X,X,X,SE,X,X,X), MUL,SW,X}
{0,2,(X,X,X,X,W,X,X,X), ADD,SW,NW}
{0,3,(X,X,X,X,X,X,X,W), MUL,NW,X}
{0,4,(X,X,X,X,X,X,X,NE), ADD,NW,NE}
{0,5,(X,X,X,X,X,X,X,N), X,X,X}
{1,0,(X,X,X,X,X,S,X,X), ADD,NW,NE}
{1,1,(X,X,X,X,X,X,X,NW), MUL,NW,X}
{1,2,(X,X,X,X,X,X,X,NW), ADD,NW,NE}
{1,3,(X,X,X,X,X,X,X,NW), MUL,NE,X}
{1,4,(X,X,X,X,X,X,X,X), X,X,X}
{1,5,(X,X,X,X,X,X,N,X), X,X,X}
{2,0,(X,X,X,NE,X,X,X,X), ADD,NW,NE}
{2,1,(X,X,X,X,SW,X,NW,NE), ADD,SW,NW}
{2,2,(X,X,X,X,X,X,X,NW), ADD,SE,NE}
{2,3,(X,X,X,X,X,X,NW,X), X,X,X}
{2,4,(X,X,X,X,X,X,NE,X), ADD,NW,NE}
{2,5,(X,X,X,X,X,X,X,N), X,X,X}
{3,0,(X,X,X,X,X,X,X,X), MUL,SE,X}
{3,1,(X,X,X,X,SE,X,NE,X), ADD,SW,NW}
{3,2,(X,X,X,X,X,NE,X,NW), MUL,SE,X}
{3,3,(X,X,X,X,X,X,NE,X), MUL,SE,X}
{3,4,(X,X,X,X,X,X,X,X), X,X,X}
{3,5,(X,X,X,X,X,X,N,X), X,X,X}
{4,0,(X,X,X,X,S,NE,X,X), ADD,SW,SE}
{4,1,(X,X,X,X,X,X,X,X), ADD,SE,NE}
{4,2,(X,X,X,X,X,SE,X,X), X,X,X}
{4,3,(X,X,X,X,X,NE,X,X), ADD,SE,NE}
{4,4,(X,X,X,X,X,X,X,X), X,X,X}
{4,5,(X,X,X,X,X,X,X,X), X,X,X}
{5,0,(X,X,X,X,X,S,X,X), X,X,X}
{5,1,(X,X,X,X,X,E,X,X), X,X,X}
{5,2,(X,X,X,X,X,X,E,X), X,X,X}
{5,3,(X,X,X,X,X,E,X,X), X,X,X}
{5,4,(X,X,X,X,X,X,E,X), X,X,X}
{5,5,(X,X,X,X,X,X,X,X), X,X,X}
